ul {
 list-style-type: none;
}


img {
  max-width: 100%
}

.header-link {
  display: inline-block;
  text-decoration: none;
}
 
.title-image {
background-image: url("background.jpg");
height: 400px;
width: 60%;
background-repeat: no-repeat;
background-size: cover;
}  


