ul {
 list-style-type: none;
}

.main {
  padding: 2px;
  margin: 5px;

}

header {
  width: 100%;
  height: 30px;
  margin: 2px;

}

.header-text {
  margin: 10px;
  padding-left: 0;

}

.header-text li {
  display: inline-block;

  margin-bottom: 2px;
  margin-right: 32px;
  font-style: left;
}

.header-text li a {
  color: grey;
  text-decoration: none;  

}

.header-text li a:hover {
  color: black;
}

  
.title-image {
  background-image: url("background.jpg");
  background-repeat: none;
  height: 360px;
  width: 100%;
  background-size: cover;
}


.title-text { 
  padding-top: 95px;
  text-align: center;
  
}  

.title-text-style {
  color: white; 
  font-size: 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
}

.content {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  text-align: center;
 
 
}


.plans {
  list-style: none;
  width: 100%;
  height: 550px;
  padding: 5px;
  margin: 3px;
  padding-top: 25px;
  margin-left: 200px;
  text-align: center;
  
}

.plan {
  padding: 10px;
  width: 20%;
  height: 300px;
  margin: 5px;
  float: left;
  margin-bottom: 200px; 
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
}

.plan-type {
  margin-bottom: 0; 
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  font-size: 15px;
  color: white;
  letter-spacing: 3px;
}

.plan-price {
  margin: 0 0; 
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  font-size: 85px;
  color: white;
  
}

.plan-month {
  margin-top: 0;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  font-weight: lighter;
  color: #D4D4D4;

}


.plan-title1 {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #509151;
}

.plan-title2 {
  background-color: #2B4885;
  padding-top: 12px;
  padding-bottom: 12px;


}
  
.plan-title3 {
  background-color:  #101010;
  padding-top: 12px;
  padding-bottom: 12px;
  

}

.plan-subtitle {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #C8C8C8;
  border-left: 1px solid #C8C8C8;
  border-right: 1px solid #C8C8C8;
  background-color: #F7F7F7;
  color: #808080;
  font-size: 14px;

}

.plan-subtitle-button {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #C8C8C8;
  border-left: 1px solid #C8C8C8;
  border-right: 1px solid #C8C8C8;
  background-color: white;


}

.button {
  border-radius: 30px;
  border: 1px solid #C8C8C8;
  background: white;
  color: #4C4C4C;
  text-decoration: none;
  font-size: .9em;
  font-weight: bold;

}

.button li a {
  color: grey;
  text-decoration: none;  
  }

.button li a:hover {
  color: black;
}

.infos {
  list-style: none;
  width: 100%;
  padding: 5px;
  margin: 3px;
  text-align: center;

}

.info {
  width: 32%;
  height: 160px;
  padding: 10px;
  margin: 2px;
  margin-left: 20px;
  text-align: left;
  display: inline-block;
}

.info-title {
  padding-bottom: 15px;
  color: #7A7A7A;
  font-size: 15px;
  letter-spacing: 3px;
  font-weight: bold;

}

.info-text {
  width: 345px;
  color: #808080;
  font-size: 13px;
  line-height: 19px;

}

footer {
  width: 100%;
  height: 50px;
  margin: 2px;
  background-color: black;
}

.footer-text {
  padding-top: 15px;
  text-decoration: none;
  text-align: center;
  color:  #E5E5E5;


}

.footer-text a {
  color: white;
}

.footer-text a:hover {
  color: grey;
}



